$themeColor: #1da7da;
$themeBG: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0/cover;
$elementBlue: rgb(63, 155, 254);
$elementBlueOpacity: rgba(63, 155, 254, .6);

$red: #ff4b2b;
$gray: #ccc;
