body{ font-size: 14px;}
body::-webkit-scrollbar { width: 13px; height: 13px;}
body::-webkit-scrollbar-corner { background: transparent;}
body::-webkit-scrollbar-track,body::-webkit-scrollbar-thumb { min-height: 20px; background-clip: content-box; box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;}
body::-webkit-scrollbar-track { box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;}
body::-webkit-scrollbar-track-piece { border-radius: 999px; border: 5px solid transparent;}
body::-webkit-scrollbar-track, body::-webkit-scrollbar-thumb { border-radius: 999px; border: 5px solid transparent;}

button{ outline: none; border: 0; text-align: center;}
.container{ width: 1200px; margin: 0 auto; position: relative;}

.title{
    font-size: 32px;
    font-weight: bold;
}

.ellipse-btn{
    width: 120px;
    height: 42px;
    background: transparent;
    border: none;
    border-radius: 21px;
    font-size: 12px;
}

.ellipse-btn:active{ transform: scale(.95);}

.white-card{
    background: white;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    padding: 20px;
    box-sizing: border-box;
}

.tags_1{
    width: 160px;
    height: 60px;
    color: white;
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
    position: relative;
    overflow: hidden;
}

.tags_1::before{
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    opacity: .1;
    position: absolute;
    top: -100%;
    left: -100%;
    border-radius: 8px;
    transition: .4s;
}

.tags_1::after{
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    opacity: .1;
    position: absolute;
    top: 100%;
    left: 100%;
    border-radius: 8px;
    transition: .4s;
}

.tags_1:hover{
    color: black;
}

.tags_1:hover::after,.tags_1:hover::before{
    top: 0;
    left: 0;
}

/* animate */
@keyframes shake {
    0%{-webkit-transform:scale(1);}

    10%, 20%{-webkit-transform:scale(0.8) rotate(-3deg);}
    
    30%, 50%, 70%, 90%{-webkit-transform:scale(1.2) rotate(3deg);}
    
    40%, 60%, 80%{-webkit-transform:scale(1.2) rotate(-3deg);}
    
    100%{-webkit-transform:scale(1) rotate(0);}
}